/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
    /* background-color: purple; */
    margin: 0 auto;    
    /* width: 95vh; */
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container { /* centers the website */
	width: 80%;
	margin: 0 auto;
}

.navHr{
    display: none;
}
ul.a {
	list-style-type: square;
	padding-left:30px;
}

.row1-box1{
	background-color:lightgray;
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	border: black 20px;
	padding:15px;
	margin: 10px;
	/* min-width:440px; */
}
.row1-box2{
	background-color:lightgray;
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	border: black 20px;
	padding:15px;
	margin: 10px;
}
.row1-box3{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	border: black 20px;
	padding:15px;
	margin: 10px;
}
.row1-box4{
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	border: black 20px;
	padding:15px;
	margin: 10px;
}
.row1{
    display:flex;
}
/* .para-1{
	width: 100%;
	padding:2px;
	margin-left:20px;

} */
/* .main-logo{
	padding:20px;
	/* width: 100%; */

.features{
    /* padding:20px !important; */
    
	display:flex;
	flex-direction:column;
	/* width:50%; */
}
/* .name-heading{
	margin-left:20px;
} */
.about{
	/* padding:20px !important; */
	display:flex;
	flex-direction:column;
	/* width:50%; */
}
.services{
	/* padding:20px !important; */
	display:flex;
	flex-direction:column;
	/* width:40%; */
}
.products{
	/* padding:20px !important; */
	display:flex;
	flex-direction:column;
	/* width:40%; */
}
.vision{
	/* padding:20px !important; */
	display:flex;
	flex-direction:column;
	/* width:40%; */
}
nav {
	/* margin: auto; */
	width: 100%;
}

nav a {
	text-decoration: none;
	color: grey;
	padding: 25px;
}

nav .logo {
	padding-left: 20px;
}

header {
    display:flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    align-items: center;
	line-height: 0.75;
	margin: 50px 0px 50px 100px;
	/* width: 100%; */
}

header .title {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: space-evenly;
	align-items: center;
	font-size: 68px;
	text-align: center;
	margin: 0px 15px;
	/* margin-right: 100px; */
}

header .title button {
	border: 1px solid black;
	margin-top: 0px;
	padding: 6px 40px;
}

/* header img {
	/* display: inline-flex; */
	/* width: 35%; 
} 
*/

.top-content {
    display:flex;
    padding: 0 2px;
}

.top-content div {
    display: flex;
    flex-direction:column;
	text-align: justify;
    padding: 10px;
    width:50%;
}

.middle-img {
    /* margin: 30px 0px; */
    width:100%;
    /* display:flex; */
    justify-content: center;
    padding: 0 10px;

}

.bottom-content {
    display:flex;
    width: 100%;
    padding: 0 2px;

}

.bottom-content div {
	display: inline-flex;
	width: 33%;
	text-align: justify;
	padding: 10px;
}

.contact {
    margin-top: 30px;
    padding: 0 10px;
}



footer {
	margin-top: 50px;
	text-align: center;
}
.navHeader{
    display:flex;
    margin:10px 0 20px 0;
    align-items: center;
}
/* Tablet */
@media screen and (max-width: 800px) {
    /* header .title{
            /* padding-left:70px; 

    } */
    header{
        /* width: 780px; */
        justify-content: center;
    }
    header .title img{
        display: none;
        
    }
    
    hr{
        /* width:700px; */
        /* padding-left:850px; */
    }
    body {
    margin: 0 auto;
    width: 85vw;
    /* background-color: pink; */
      }
      .navHeader{
        display:flex;
        flex-direction: column-reverse;
        /* width: 800px; */
        justify-content: center;
    }
    nav {
        justify-content: center;
        display:flex;
        align-items: center;
        margin: auto;
        
    }
    
    nav a {
        text-align: center;
        display: flex;
        text-decoration: none;
        color: grey;
        padding: 25px;
    }
    
    .navHeader .logo {
        width:180px;
        /* height:80px; */
        padding-top:20px;
        /* margin-left: 340px; */
        flex-direction: column-reverse;
        justify-items: center;
        height: 70px;
        padding-bottom: 20px;
        
    }
    header {
        justify-items: center;
        margin: 0 auto;
    }
    header .title {
        align-items: center;
        font-size: 68px;
        text-align: center;        
    }
    
    header .title button {
        border: 1px solid black;
        margin-top: 0px;
        padding: 6px 40px;
    }
    
    header img {
        opacity: 0;
        display: none;
        width: 35%;
    }
    .top-content {
        display:flex;
        flex-direction:row;
        width: 85vw;
    }
    .top-content div {
        display: flex;
        text-align: justify;
        padding: 10px;
    }
    .middle-img {
        margin: 30px 0px;
        width: 100%;
        /* padding-left:20px; */
    }
    
    .bottom-content {
        /* width: 790px; */
    }
    
    .bottom-content div {
        display: inline-flex;
        /* width: 33%; */
        text-align: justify;
        padding: 10px;
        padding-right: 15px;
    }
    .contact{
        padding-left: 20px;
    }
    .navHr{
        display: none;
    }
}

/* Cell */
@media screen and (max-width: 500px) {
    header .title{
        align-items: center;
    }
    header{
        margin: 0 auto;
        align-items: center;
        justify-items: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    header .title img{
        align-items: center;
        display: none;
    }
    img.logo{
        align-content: center;
    }
    hr{
        align-items: center;
        /* width:400px; */
        width: 70vw;
    }
    body {
        margin: 0 auto;
        align-items: center;
        align-content: center;
        align-items: center;
        width: 90vw;
      }
      .hrMiddle {
          width: 10vh;
      }
      .navHeader{
        align-items: center;
        display:flex;
        flex-direction: column-reverse;
        /* width: 500px; */
        justify-content: center;
    }
    nav {
        align-items: center;
        justify-content: center;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        
    }
    
    nav a {
        align-items: center;
        text-align: center;
        display: flex;
        text-decoration: none;
        color: grey;
        padding: 25px;
    }
    
    .navHeader .logo {
        align-items: center;
        align-items: center;
        width:180px;
        height:80px;
        padding-top:20px;
        flex-direction: column-reverse;
        justify-items: center;
        height: 70px;
        padding-bottom: 20px;
        
    }
    
    header .title {
        align-items: center;
        display: flex;
    justify-content: space-between;
        align-items: center;
        font-size: 68px;
        text-align: center;
        margin: 0px 15px;
        margin-right: 100px;
    }
    
    header .title button {
        align-items: center;
        border: 1px solid black;
        margin-top: 0px;
        padding: 6px 40px;
    }
    
    header img {
        align-items: center;
        opacity: 0;
        display: none;
        /* width: 35%; */
    }
    .top-content {
        align-items: center;
        display:flex;
        flex-direction:column;
        align-items: center;
        /* width: 800px; */
        padding-left:1px;
    }
    .top-content div {
        display: flex;
        text-align: justify;
        padding: 10px;
        width: 75vw;
    }
    .middle-img {
        margin: 0 auto;
        align-items: center;
        /* width:600px; */
        height:90px;
        width: 80vw;
        padding-left: 40px;
    }
    
    .bottom-content {
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        padding-left:35px;
        /* width: 800px; */
        align-content: center;
    }
    
    .bottom-content div {
        display: flex;
        flex-direction: column;
        /* width: 400px; */
        text-align: justify;
        align-content: center;
        padding: 10px;
        padding-right: 15px;
        width: 75vw;
    }
    .contact{
        padding-left: 40px;

    }
    .navHr{
        display: block;
    }
    .hrMiddle{
    width: 40vh;        
    }
    footer{
        padding-left: 120px;
        padding-bottom: 20px;
    }
}